#website {
    display: none;
}

a {
    color: #00FF41;
}

video {
    width: 100%;
}

body {
    background-color: black;
    color: #00FF41;
    font-family: 'Share Tech Mono', monospace;
}

.container {
    min-height: 100%;
    min-width: 95%;
}

.navbar, #contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links {
    display: flex;
    min-width: 100%;
}

ul {
    list-style: none;
}

h1 {
    font-size: 38px;
    text-align: center;
}

h2 {
    color: #00FF41;
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5, p {
    font-size: 16px;
}

h6 {
    font-size: 13px;
}

.typewriter-about-me-header, .typewriter-resume-header, .typewriter-project-header {
    margin-bottom: 30px;
}

#about-me, #resume {
   margin-top: 100px;
   margin-left: 80px;
}

#my-projects {
    margin-top: 120px;
    margin-left: 80px;
}

.headshot {
    margin-bottom: -450px;
}

.left-column {
    margin-top: 70px;
}

.small-image {
    border-radius: 24px;
    height: 200px;
}

.website-desc {
    font-size: 18px;
    padding: 12px;
}

.card {
    background-color: black;
}

.tech {
    font-size: 11px;
    margin-top: 13px;
}

.typewriter-project-title, .typewriter-project-desc, .typewriter-project-tech, .typewriter-project-repo {
    margin-left: 60px;
    margin-top: 10px;
}

#contact-me {
    margin-top: 60px;
}

.contact-link {
    color: #00FF41;
    font-size: 14px;
    margin-left: 5px;
}

.linked-in-image {
    width: 35px;
    height: 25px;
    margin-left: 10px;
}

.download-link {
    margin-top: -40px;
}

.repo-link {
    font-size: 10px;
}

/* typewriter animation courtesy of https://bit.ly/3kngWOi */
.typewriter-nav h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
        typing 3s steps(20, end),
        blink-caret .75s step-end infinite;
}

.typewriter-about-me-header h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-about-me1 p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-about-me2 p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(50, end),
        blink-caret .75s step-end infinite;
}

.typewriter-about-me3 p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(50, end),
        blink-caret .75s step-end infinite;
}

.typewriter-resume-header h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(10, end),
        blink-caret .75s step-end infinite;
}

.typewriter-resume-header h6 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(10, end),
        blink-caret .75s step-end infinite;
}

.typewriter-resume-position h4 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .08em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 3s steps(40, end),
        blink-caret .75s step-end infinite;
}

.typewriter-resume-employer h5 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-resume-time h6 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-project-header h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-project-title h5 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 3s steps(25, end),
        blink-caret .75s step-end infinite;
}

.typewriter-project-desc p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 4s steps(70, end),
        blink-caret .75s step-end infinite;
}

.typewriter-project-tech p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-project-repo p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-contact-header h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter-contact h6 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .02em; /* Adjust as needed */
    animation: 
        typing 3s steps(35, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: white; }
}