body {
    background-color: black;
    color: #00FF41;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links {
    display: flex;
    min-width: 100%;
}

ul {
    list-style: none;
}

h1 {
    color: #00FF41;
    font-size: 20px;
}

.about-me {
    margin-top: 5%;
    padding: 5%;
}

.container {
    min-height: 100%;
    min-width: 100%;
}






/* typewriter animation courtesy of https://bit.ly/3kngWOi */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
        typing 2s steps(15, end),
        blink-caret .75s step-end infinite;
}

.typewriter1 p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: pre; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 2.8s steps(35, end),
        blink-caret .75s step-end infinite;
}

.typewriter2 p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: pre; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(70, end),
        blink-caret .75s step-end infinite;
}

.typewriter3 p {
    animation-delay: 2s;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: pre; /* Keeps the content on a single line */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
        typing 5s steps(100, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    30% { border-color: white; }
}